<p id="notice"><%= notice %></p>


<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>School:</b>
  <%= @user.school_id %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
