<h1>Listing cards</h1>

<table>
  <tr>
    <th>Belongs to</th>
    <th>Type</th>
    <th>Caption</th>
    <th>Mediasrc</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cards.each do |card| %>
  <tr>
    <td><%= card.belongs_to %></td>
    <td><%= card.type %></td>
    <td><%= card.caption %></td>
    <td><%= card.mediasrc %></td>
    <td><%= link_to 'Show', card %></td>
    <td><%= link_to 'Edit', edit_card_path(card) %></td>
    <td><%= link_to 'Destroy', card, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Card', new_card_path %>
